<%- include('partials/header') -%>

<%- include('partials/header') -%>
<main class="container">
  <section class="form">
    <h1>Find a Resource</h1>
    <form class="resource-Form">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1" id="affordableHousing">
              Affordable Housing
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1" id="affordableHousing">
              Rental Assistance
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1" id="tempHousing">
              Temporary Shelter (Non-Domenstic Violence)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1" id="dvHousing">
              Domestic Violence Shelter
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1" id="food">
              Food
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1" id="clothing">
              Clothing
            </label>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip Code</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="submit-btn">
          <button type="submit" class="btn btn-primary btn-submit"><a href="/myresources">Find Resources</a></button>
          </div>
    </form>
    </section>
    <section class="img-home">
        <img src="/imgs/com.png">
    </section>
</main>
    

<%- include('partials/footer') -%>
    

<%- include('partials/footer') -%>