/* Layout Styling */
.navbar{
    display: flex;
    flex-direction: row;
    color: white;
}
ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}
.list-group-flush{
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: none;
    border-top: none;
}
.likes{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 10px 10px;
}
.comment-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* General Styling */
.header-nav{
    font-size: 2rem;
    margin-right: 20px;
}
.btn {
    margin: 10px 10px 10px 10px;
}
img {
    height: 600px;
    width: 600px;
}
.header{
    width: 100%;
}

/* 100 hours */
.btn-navStyle{
    margin: 10px 0px 10px 30px;
}
.btn-submit{
    width: 200px;
    margin-top: 30px;
}

.resource-Form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
main {
    margin: 40px 20px 20px 20px;
    display: flex;
    flex-direction: row;
   
}
.partner-login{
    display: flex;
    flex-direction: column;
}
.img-home{
    width: 300px;
}
.space{
    height: 60px;
}
a{
    text-decoration: none;
    color: white;
}
